<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>Create a New Post</title>
</head>
<body>

<form th:action="${'/posts/' + post.id + '/edit'}"
      method="post" th:object="${post}">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" th:field="*{title}"/>
    </div>
    <div class="form-group">
        <label for="body">Description</label>
        <input type="text" name="body" id="body" class="form-control" th:field="*{body}"/>
    </div>
    <button class="btn btn-default">Save</button>
</form>

<form th:action="${'/posts/delete'}"
      method="post" th:object="${post}">
    <input type="hidden" th:field="*{id}" />
    <button class="btn btn-danger">Delete</button>
</form>


</body>
</html>