<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Edit Posts')" />

<body>
<nav th:replace="fragments :: my-navbar" />

<form th:include="fragments :: form"
      th:action="@{'/posts/' + ${post.id} + '/edit'}"
      th:method="post"
      th:object="${post}"
      enctype="multipart/form-data"></form>

<form th:action="@{/posts/delete}"
      method="post" th:object="${post}">
    <input type="hidden" th:field="*{id}" />
    <button class="btn btn-danger">Delete</button>
</form>


</body>
</html>