<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('View Individual Post')"/>

<body>
<h1>Posts Show Page</h1>
<h2>Title: <span th:text="${post.title}"></span></h2>
<h2>Body: <span th:text="${post.body}"></span></h2>
<h2>Email: <span th:text="${post.owner.email}"/></h2>
<h5>User: <span th:text="${post.owner.username}"></span></h5>
<div th:if="${post.imageUrl}">
    <img th:src="${'/uploads/' + post.imageUrl}" alt="" width="200" height="200" />
</div>
<a th:if="${post.owner.id == user.id}" th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a>


</body>
</html>