<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title th:text="${title}">Bloggy blog blog</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>

<!-- basic bootstrap navbar -->
<nav th:fragment="my-navbar" class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Codeup</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/posts">View the Posts</a>
                </li>
                <li><a href="/posts/create">Create post</a></li>

                <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
                <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>


                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<form th:fragment="form">
     <!--<form th:action="@{/posts/create}" th:method="post" th:object="${post}" enctype="multipart/form-data">-->
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" th:field="*{title}"/>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
            <br/>
        </div>
        <div class="form-group">
            <label for="body">Description</label>
            <input type="text" name="body" id="body" class="form-control" th:field="*{body}"/>
            <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />
            <br />
        </div>

        <div class="form-group">
            <label for="file">Picture</label>
            <input type="file" name="file" id="file" class="form-control" />
            <br />
        </div>
        <button class="btn btn-default">Save</button>
</form>


<div th:fragment="scripts">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</div>

</html>