<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Portfolio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Portfolio</h1>

<div>
    <p><h2>Web Development Projects</h2></p>

    <h3>Weather Application</h3>
    <p>JavaScript | jQuery | CSS | HTML | Google Maps API | Open Weather Maps API </p>
    <p>An interactive weather map that integrates Open Weather Maps with Google Maps. The application allows
        users to see a location’s 3-day weather forecast by dragging the map’s marker or typing in a location.
    </p>
    <h3>Simple Simon Game</h3>
    <p>JavaScript | jQuery | CSS | HTML</p>
    <p>A rendition of the original memory game, “Simon Says.” This game was primarily created using JavaScript and
        jQuery while featuring timed animations, a round counter, and a whimsical theme.
    </p>
    <h3>JavaScript Calculator</h3>
    <p>HTML5 | CSS3 | JavaScript | jQuery</p>
    <p>A traditional four-operator calculator that utilizes JavaScript and jQuery with a sleek, pink theme.
    </p>
    <h3>Prestige Adlister</h3>
    <p>Java application with servlets, JDBC, and JSP/JSTL</p>
    <p> The Prestige Adlister project is essentially a bare bones adlister clone where users can view all the ads that
        have been posted as well as post ads themselves. Users can also register for the site and create their own ads.
    </p>

</div>

</body>
</html>