<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Resume</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
<nav th:fragment="my-navbar">
    <h2>Navigation</h2>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>

</nav>

<div>
    <h2>Skills</h2>
    <ul>
        <li>Front-end</li>
        <ul>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>AJAX</li>
            <li>API Integration</li>
            <li>CSS</li>
            <li>HTML</li>
        </ul>
        <li>Back-end</li>
        <ul>
            <li>Java</li>
            <li>Spring</li>
            <li>MySQL</li>
            <li>Linux</li>
            <li>Apache</li>
            <li>Tomcat</li>
            <li>Cloud Deployments</li>
        </ul>
        <li>Developer-Tools</li>
        <ul>
            <li>Git/Github</li>
            <li>Bootstrap</li>
            <li>IntelliJ</li>
            <li>Java integrated development environment (IDE)</li>
        </ul>
        <li>Additional Skills</li>
        <ul>
            <li>Salesforce</li>
            <li>TAVConnect (Java Groovy platform)</li>
            <li>Jira</li>
            <li>Jabbr</li>
            <li>ETO Software(PHP CMS Platform)</li>
            <li>CRM Applications</li>
            <li>Kronos</li>
            <li>Microsoft Office</li>
            <li>Windows OS'</li>
            <li>Mac OS'</li>
            <li>Bilingual(English/Spanish)</li>
        </ul>
    </ul>
</div>
<div>
    <h2>Education</h2>
    <ul>
        <h3>Codeup - July 2017</h3>
        <li>Codeup is an immersive, full- stack career accelerator that provides students with 536+ hours of expert
            instruction in software development.
        </li>
        <h3>Western Governors University - 2015 - 2016</h3>
        <li>Completed 108 hours towards Bachelor's Degree in Business Administration</li>
    </ul>
</div>
<div>
    <h2>Experience</h2>
    <ul>
        <h3>Bilingual Care Coordinator, TAVHealth, San Antonio, TX 2015-2017</h3>
        <li>Identified conflicting social determinants and provided creative solutions for clients’ personal/financial
            emergencies by assessing needs and eligibility for services through different programs and agencies
        </li>
        <li>Provided ongoing lead generation for new sales and managed customer requests via Salesforce.com</li>
        <li>Followed established procedures, timeframes, and priority standards when verifying, creating and
            maintaining CRG data to complete tasks in order of importance and time sensitivity
        </li>
        <li>Conducted ongoing audits to ensure that CRG data entered in TAVConnect was accurate and up-to-date
            and provided regular status reports to senior-level management
        </li>
        <li>Completed Jira support service requests within 24 hours</li>
    </ul>

    <ul>
        <h3>Program Administrator, Goodwill Industries San Antonio, TX - 2010-2015</h3>
        <li>Spearheaded a new software business development project (Good Choices Portal) which resulted in

            partnerships with more than 30 community partners, to include several in the non-profit, healthcare

            industry, and the correctional facilities throughout the greater San Antonio region
        </li>
        <li>Implemented changes on the Good Choices Portal based on member surveys and audit findings</li>
        <li>Worked with all Operations, Management and Business Development to identify and analyze new business
            opportunities and develop strategies at the federal, state, county, and city levels
        </li>
        <li>Trained up to 65 employees and participants on use of Good Choices Portal resources
        </li>
        <li>Tracked and reported on all Good Choices Portal sales and utilization activities</li>
    </ul>

    <ul>
        <h3>Peer Health Educator, (Community Service) - 2007-2010</h3>
        <li>Provided health education classes and resources to the community</li>
    </ul>

    <ul>
        <h3>Human Resources Assistance, Cargill Meat Solutions, Dodge City, KS 2005-2007</h3>
        <li>Recruited, hired, and retained employees by implementing bilingual training and career development
            program</li>
        <li>Recognized as top employee for translating the Employee Handbook from English to Spanish</li>
        <li>Created re-verification procedure to clear applicants for new hire orientation attendance and to confirm
            compliance with Employment Eligibility Verification with the Federal Government, conducted background
            checks, and audited I-9’s</li>
        <li>Audited worker’s compensation cases to confirm compliance with OSHA standards and identified changes necessary to maintain an accident-free environment</li>
        <li> Maintained accurate records of data for personnel records via Kronos, Basic Pilot, TruDiligence and
            Vanguard</li>
    </ul>

</div>

</body>
</html>